@import url(https://fonts.googleapis.com/css?family=Lato);

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  color: #333;
}

* {
  box-sizing: border-box;
}

.header {
  font-size: 2vw;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  color: white;
  background: #222;
}

.header h1 {
  margin: 20px auto;
}

.header h1:nth-of-type(1) {
  margin-right: 1%;
}

.header h1:nth-of-type(2) {
  margin-left: 1%;
}

.App__body {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App__form #number{
  font-size: 1.5rem;
}

.App__form label {
  font-size: 1.5rem;
}

.App__table__loader th {
  font-size: 1.1rem;
}

.App__table__loader td {
  font-size: 0.90rem;
}

.App__table__loader {
  margin-top: 50px;
}

@media only screen and (max-width: 500px) {
  .App__table__loader {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
