body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.App__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App__form #number{
  font-size: 1.5rem;
}

.App__table__loader {
  margin-top: 50px;
}

@media only screen and (max-width: 500px) {
  .App__table__loader {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
